@model IEnumerable<CourseManager.WebUI.Models.WebSchedule>
@using CourseManager.BOL.Model
@using CourseManager.WebUI.Models
@{
    CourseDTO course = (CourseDTO)ViewBag.Course;
    DayWeek itemDay = new DayWeek();
}
<div class="row">
    <div class="col-12">
        <a class="btn btn-success btn-sm" href="@Url.Action("Edit", new { courseID = course.CoursID})"><span class="glyphicon glyphicon-plus"></span> Добавить расписание</a>
    </div>
</div>

<div class="row top-buffer mb-3">
    <div class="col-2"></div>
    <div class="col-3"><strong>@Html.DisplayNameFor(model => model.DayOfWeek)</strong></div>
    <div class="col-2"><strong>@Html.DisplayNameFor(model => model.StartDate)</strong></div>
    <div class="col-2"><strong>@Html.DisplayNameFor(model => model.EndDate)</strong></div>
    <div class="col-3"></div>
</div>
@foreach (var item in Model)
{
    <div class="row mb-1">
        @{ 
            itemDay.DayNumber = item.DayOfWeek;
        }
        <div class="col-2"></div>
        <div class="col-3">@itemDay.DayName</div>
        <div class="col-2">@Html.DisplayFor(modelItem => item.StartHour) : @Html.DisplayFor(modelItem => item.StartMinute)</div>
        <div class="col-2">@Html.DisplayFor(modelItem => item.EndHour) : @Html.DisplayFor(modelItem => item.EndMinute)</div>
        <div class="col-3">
            <div class="btn-group">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ScheduleID, courseID = course.CoursID }, new { @class = "btn btn-warning btn-sm" })
                <a href="javascript:void(0);" class="btn btn-danger btn-sm deleteclass" data-url="@Url.Action("Delete", "Schedule")" data-id="@item.ScheduleID">Удалить</a>
            </div>
        </div>

    </div>
}

