@model IEnumerable<CourseManager.BOL.Model.CourseDTO>

@{
    ViewBag.Title = "Обучающие курсы";
}

<div class="row">
    <h2 class="col">Обучающие курсы и их стоимость</h2>
</div class="row">

<div class="row">
    <div class="col-12">
        <a class="btn btn-success" href="@Url.Action("Edit")"><span class="glyphicon glyphicon-plus"></span> Добавить курс</a>
    </div></div>

<div class="row top-buffer">
    <div class="col-1"></div>
    <div class="col-6"><strong>@Html.DisplayNameFor(model => model.Name)</strong></div>
    <div class="col-4"><strong>@Html.DisplayNameFor(model => model.Price)</strong></div>
    <div class="col-1"></div>
</div>
@foreach (var item in Model)
{
<div class="row">
    <div class="col-1"></div>
    <div class="col-6">@Html.DisplayFor(modelItem => item.Name)</div>
    <div class="col-4">@Html.DisplayFor(modelItem => item.Price)</div>
    <div class="col-1">@Html.ActionLink("Список заказов", "OrderDetail", new { id = item.CoursID }, new { @class = "btn btn-primary btn-md" })</div>
</div>
}
