@model IEnumerable<CourseManager.BOL.Model.CourseDTO>

@{
    ViewBag.Title = "Обучающие курсы";
}

<div class="row">
    <h2 class="col">Обучающие курсы и их стоимость</h2>
</div>

<div class="row">
    <div class="col-12">
        <a class="btn btn-success btn-sm" href="@Url.Action("Edit")"><span class="glyphicon glyphicon-plus"></span> Добавить курс</a>
    </div>
</div>

<div class="row top-buffer mb-3">
    <div class="col-1"></div>
    <div class="col-6"><strong>@Html.DisplayNameFor(model => model.Name)</strong></div>
    <div class="col-2"><strong>@Html.DisplayNameFor(model => model.Price)</strong></div>
    <div class="col-3"></div>
</div>
@foreach (var item in Model)
{
    <div class="row mb-1">
        <div class="col-1"></div>
        <div class="col-6">@Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToString(),"Detail", new { id = item.CoursID})</div>
        <div class="col-2">@Html.DisplayFor(modelItem => item.Price)</div>
        <div class="col-3">
            <div class="btn-group">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.CoursID }, new { @class = "btn btn-warning btn-sm" })
                <a href="javascript:void(0);" class="btn btn-danger btn-sm deleteclass" data-url="@Url.Action("Delete", "Course")" data-id="@item.CoursID">Удалить</a>
            </div>
        </div>

    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteclass').click(function (e) {
                if (confirm("Вы действительно хотите удалить запись?")) {
                    var settings = {
                        url: $(this).data('url'),
                        type: 'POST',
                        data: { id: $(this).data('id') },
                        success: function (result) {
                            if (result == "OK") {
                                alert("Запись удалена");
                                window.location.href = window.location.href;
                            }
                            else {
                                alert("Не удалось удалить запись");
                            }
                        },
                        error: function (result) {
                            alert("Ошибка запроса: " + result.status + " " + result.statusText + "\n" + result.responseJSON.message);
                        }
                    }
                    $.ajax(settings);
                }
            });
        });
    </script>
}
